export K3D_TAG=v4.4.0
export K3S_VERSION="v1.20.4-k3s1"
export K3S_IMAGE="rancher/k3s:v$K3S_VERSION"
export CLUSTER_DOMAIN="k3d.restack.tech"
export CLUSTER_NAME="k3d-cluster"
export SHARED_DATA_PATH=/tmp/k3d
